{% extends '../panel.twig' %}

{% block sectionTitle %} {{ dict.password }}: {{ dict.edit }} {% endblock %}

{% block sectionBody %}
    <form method="post">
        <div class="form-group">
            <label for="oldPassword">{{ dict.oldPassword }}</label>
            <input type="password" name="oldPassword" id="oldPassword" placeholder="{{ dict.oldPassword }}" required
                   class="form-control">
            {% embed '../../field-err.twig' with {'fieldName':'oldPassword'} %} {% endembed %}
        </div>

        <div class="form-group">
            <label for="newPassword">{{ dict.newPassword }}</label>
            <input type="password" name="newPassword" id="newPassword" placeholder="{{ dict.newPassword }}" required
                   class="form-control">
            {% embed '../../field-err.twig' with {'fieldName':'newPassword'} %} {% endembed %}
        </div>

        <div class="form-group">
            <label for="passwordAgain">{{ dict.passwordAgain }}</label>
            <input type="password" name="passwordAgain" id="passwordAgain" placeholder="{{ dict.passwordAgain }}"
                   required class="form-control">
            {% embed '../../field-err.twig' with {'fieldName':'passwordAgain'} %} {% endembed %}
        </div>

        <div class="form-group">
            <input type="hidden" name="user" value="{{ user.username }}">
            <button class="btn btn-outline-dark" type="submit">{{ dict.save }}</button>
        </div>
    </form>
{% endblock %}